# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/
.vscode/launch.json
.vscode/tasks.json

# Env / secrets
.env
*.keystore
key.properties

# OS
Thumbs.db
.DS_Store
